language: python
python:
  - 3.6
  - 3.7
  - 3.8

# command to install dependencies
before_install:
  - python --version
  - pip --version
  - pip install --upgrade pip
  - pip --version
  - pip install --upgrade pytest pytest-cov coveralls
  - pip install git+https://github.com/sys-bio/tellurium.git
  
install:
  - pip install -e .
# command to run tests
script:
  - python -m pytest -v --cov synbiopython --cov-report term-missing

after_success:
  - coveralls
